:root {
    --title-color: #333;
    --text-color: #b6b6b6;
    --logo-color: #95E1D3;
    --line-color: #F38181;
    --textButton-color: #FFFFFF;
}

.line {
    width: 60px;
    height: 4px;
    background: var(--line-color);
}

.text_nav {
    color: var(--logo-color);
    text-decoration: none;
}

.btn1 {
    background: var(--logo-color);
    border: none;
    padding: 12px 38px;
    color: var(--textButton-color);
    cursor: pointer;
}

.form_email {
    color: var(--text-color);
    padding: 12px 10px;
    width: 230px;
}

.text {
    font-weight: 400;
    font-size: 24px;
    color: var(--text-color);
}

.title {
    font-weight: 700;
    font-size: 30px;
    color: var(--title-color);
}