:root {
    --title-color: #333;
    --text-color: #b6b6b6;
    --logo-color: #95E1D3;
    --line-color: #F38181;
    --text-button-color: #FFFFFF;
}

body {
    font-family: 'Montserrat', sans-serif;
}

ul, a {
    list-style: none;
}

.line {
    width: 60px;
    height: 4px;
    background: var(--line-color);
    border-radius: 20px;
}

.header_title {
    color: var(--logo-color);
    font-size: 30px;
    font-weight: 700;
}

.header_item {
    color: var(--logo-color);
    text-decoration: none;
}

.header_item:hover,
.header_item:focus {
    color: var(--line-color);
}

.header_list {
    color: var(--logo-color);
    font-size: 14px;
}

.btn1 {
    background: var(--logo-color);
    border: none;
    padding: 12px 38px;
    color: var(--text-button-color);
    cursor: pointer;
}

.form_email {
    color: var(--text-color);
    padding: 12px 10px;
    width: 230px;
}

.text {
    font-weight: 400;
    font-size: 24px;
    color: var(--text-color);
}

.title {
    font-weight: 700;
    font-size: 30px;
    color: var(--title-color);
}

.section-one {
    margin-top: 81px;
}

.section-two {
    margin-top: 100pc;
}